.main{
     background-color: $jelly-bean;
     color: $white;
     margin-top:  5rem;
     height: 70vh;
     display: flex;
     align-items: center;
     justify-content: center;
     text-align: center;
}

